{% extends "navbar.html" %}
{% block title %}
Transfer Money
{% endblock %}
{% block main %}
<div class="container mt-5 w-50">
    <div class="card">
        <div class="card-header">
            Transfer Money
        </div>
        <div class="card-body">
            <form action="/transfer" method="post">
                <div class="form-group mb-3">
                    <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="Transfer Amount"
                        type="number" step="0.01" min="0">
                </div>
                <div class="form-group mb-3">
                    <input autocomplete="off" autofocus class="form-control" name="destination"
                        placeholder="Destination Account" type="number">
                </div>
                <button class="btn btn-info" type="submit">Transfer</button>
            </form>
        </div>
    </div>

    {% endblock %}